
<header class="yp-homepage-header yp-content-section">
  <h1 class="yp-homepage-title">
    Greeked and blurred
  </h1>
  <div class="yp-homepage-header-info">
    <h2 class="yp-homepage-definition">
      Google Chrome extension for creating elegant web screenshots
    </h2>
    <!--<a mat-raised-button
       href="https://chrome.google.com/webstore/detail/playlists-history/mapoanpgddcgdiecldjkkgoogapkjhcm"
       target="_blank"
       rel="noreferrer"
       title="Chrome Web Store">Chrome Web Store</a>-->
  </div>
</header>
<div class="yp-homepage-section yp-content-section">
  <section>
    <ol class="yp-homepage-section__content">
      <li>
        <h4 class="yp-homepage-capabily-title">Todo.</h4>
        <span class="yp-homepage-capabily-description">
          todo.
        </span>
      </li>
    </ol>
  </section>
</div>
