
<header class="yp-homepage-header yp-content-section">
  <h1 class="yp-homepage-title">
    Greeked and blurred
  </h1>
  <div class="yp-homepage-header-info">
    <h2 class="yp-homepage-definition">
      Browser extension for creating elegant web screenshots
    </h2>
    <div>
      <a mat-raised-button
         href="https://microsoftedge.microsoft.com/addons/detail/greeked-and-blurred/jphkmcbolhaofalbmjcbgmgldkgdabhc"
         target="_blank"
         rel="noreferrer"
         class="yp-homepage-store"
         title="Chrome Web Store">Edge Add-ons</a>
      <a mat-raised-button
         href="https://chrome.google.com/webstore/detail/greeked-and-blurred/igcgkjagbnfhjokmklbenkkfgmfalino"
         target="_blank"
         rel="noreferrer"
         class="yp-homepage-store"
         title="Chrome Web Store">Chrome Web Store</a>
    </div>
  </div>
</header>
<div class="yp-homepage-section yp-content-section">
  <section>
    <ol class="yp-homepage-section__content">
      <li>
        <h4 class="yp-homepage-capabily-title">Hides unnecessary information on the web page.</h4>
        <span class="yp-homepage-capabily-description">
          You yourself choose the necessary information that you want to hide or show.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Keeps the structure of the page as clear as possible using greeking and adaptive blurring.</h4>
        <span class="yp-homepage-capabily-description">
          The blur is applied to individual elements, not to the entire area. It looks much better and clearer. The text greeking option allows you not to use blur to hide information, which looks even better.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Allows you to select elements of a web page to display in its original form.</h4>
        <span class="yp-homepage-capabily-description">
          The extension allows you to select the content area that you want to leave unchanged. Also you can select a group of elements. For example, if you want to keep the icons, then often the icons are the SVG elements. If you want to hide ads, then these can be large empty elements or Iframes.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Continues to work while adding data to the page.</h4>
        <span class="yp-homepage-capabily-description">
          You can enable extension and scroll down the page. If infinite scrolling is implemented on the page, then the extension will strive to perform its work on new elements. On some sites (YouTube), you can even navigate by clicking on links while the extension is running.
        </span>
      </li>
    </ol>
  </section>
</div>
