<mat-toolbar color="primary" class="mat-elevation-z4 yp-toolbar">
  <span class="yp-app-title">Greeked and blurred</span>
  <span class="yp-spacer"></span>
  <button mat-icon-button
          aria-label="Share"
          title="share"
          (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<app-home></app-home>
<footer>
  <a href="assets/docs/privacy-policy/"
     title="Privacy policy"
     class="yp-footer-link">Privacy policy</a>
  <a href="https://www.facebook.com/greeked.and.blurred"
     title="Open in Facebook"
     target="_blank"
     class="yp-footer-link">Facebook</a>
  <a href="https://www.youtube.com/channel/UCtXueTSMr78MUpcsW0AtBzg"
     title="Open in YouTube"
     target="_blank"
     class="yp-footer-link">YouTube</a>
  <a href="https://twitter.com/greekedblurred"
     title="Open in Twitter"
     target="_blank"
     class="yp-footer-link">Twitter</a>
</footer>
